<EdgeSpawner EdgeSpawner.PrototypeName="Bomber" EdgeSpawner.spawnRate="5" />
<EdgeSpawner EdgeSpawner.PrototypeName="TargetingShooter" EdgeSpawner.spawnRate="4" />
<EdgeSpawner EdgeSpawner.PrototypeName="BaseEnemy" EdgeSpawner.spawnRate="2" />
<EdgeSpawner EdgeSpawner.PrototypeName="BaseEnemy" EdgeSpawner.spawnRate="2" />
<EdgeSpawner EdgeSpawner.PrototypeName="MultiShot" EdgeSpawner.spawnRate="2" />